:root {
    --primary: #007bff; /* bootstrap blue */
    --background-color: #ffffff;
    --text-color: #333;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    background: none;

  }
  
  button.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }